.right-links-container {
  padding: 17px 70px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.header-number {
  font-weight: 600;
}

.header-title {
  text-transform: uppercase;
  opacity: 0.9;
  font-size: 0.8rem;
}

.links-content {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.menu-links {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  cursor: pointer;
}

.links-content.active-link::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 100%;
  bottom: -17px;
  left: 0;
}

.menu-links.active-link::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 150px;
  bottom: -10px;
  left: 0;
}

.menu-style {
  width: 70%;
  height: 100%;
  background: rgba(44, 43, 43, 0.1);
  backdrop-filter: blur(10px);
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 100;
}

.menu-opened {
  transform: translateX(0);
}

// Media
@layer header {
  // Mobile
  @media (max-width: 650px) {
    .none-sm {
      display: none;
    }

    .block-sm {
      display: block;
    }
  }

  @media (min-width: 1900px) {
    .main-grid-lg {
      display: grid;
      place-content: center;
    }
  }
}
